{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "macros",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "calango": "./src"
        }
      }
    ]
  ]
}
